PORT=4000
SUPABASE_URL=https://supabase.com/dashboard/project/auqguvtctubqixcqmvez
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF1cWd1dnRjdHVicWl4Y3FtdmV6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzQxMjI4MSwiZXhwIjoyMDk4OTg4MjgxfQ.-kgnRhcTsRbJpGbJp4Hdnd1ol7qmqKPl7-BXbsbxVHY
JWT_SECRET=
PAYSTACK_SECRET_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
FRONTEND_URL=http://localhost:3000
